<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devour}}Devour it!{{else}}WAKE UP!{{/if}}
	</button>

	{{!-- delete btn --}}
		<button class="delete-burger" data-id="{{id}}">
		DELETE BURGER
	</button>

</li>
